/*重置css样式,如果之前的css文件中有重置过，这段可以不要*/
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{margin:0;padding:0}
body,button,input,select,textarea{ font:12px/1.5 "宋体",arial, verdana, sans-serif}
h1,h2,h3,h4,h5,h6{font-weight:normal}
li{list-style:none}
fieldset,img{border:0}
table{border-collapse:collapse;border-spacing:0}
q:before,q:after{content:”}
button,input,select,textarea{font-size:100%}
legend{color:#000}
small{font-size:12px}
hr{border:none;height:1px}
a{text-decoration:none}
a:hover,a:focus{text-decoration:none;outline: thin dotted #FB4D4D;outline: none;}
.cle:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.cle{ display:inline-block}
.cle{ display:block}
.clear {clear: both;}

/*主要css*/
.content{
	font-family:"microsoft yahei";
	font-size: 16px;
	color: #575555;
}
.content .head{
  	color: #fff;
  	font-size: 20px;
  	padding:7px;
  	text-align: center;
  	height: 45px;
}
.content .head i{
	font-size: 18px;
	position: absolute;
	top: 10px;
	left: 10px;
	color:#fff;
}
.content .banner{
	background: #eb5c24 url(../img/bannerBg.png) no-repeat;
	background-size: cover;
}
.content .mask{
	padding:50px 0 20px 0;;
	background-color:rgba(102, 194, 252, 0.66);
}
.banner .pic{
	max-width:135px;
	margin: 0px auto;
	background-color:#e4e4e4;
	padding: 20px;
}
.banner .pic+a{
	display:block;
	margin:10px auto;
	text-align: center;
	font-size: 18px;
  	color: #fff;
  	font-family: "微软雅黑";
}
.banner .pic+a>span{
	margin:0 10px;
}
.banner .pic img{
	width:100%;
}
.content .middle{
	padding: 15px 0px;
	text-align: center;
	overflow: hidden;
	border-bottom: 1px solid #eb5c24;
}
.content .middle table td.R img{
	width:70px;
}
.content .middle a{
	color:#eb5c24;
}
.R{
	text-align: right;
	padding-right:10px;
}
.L{
	text-align: left;
	padding-left: 10px;
}
.content .middle table{
	margin:0 auto;
	font-size: 20px;
	font-weight: 600;
}
.content .middle table .small a{
	font-size:16px;
	color:#566273;
}
.menu{
	overflow: hidden;
	text-align: center;
  	padding: 20px 10%;
}
.menu div.icon{
	float: left;
	color:#565656;
	height: 170px;
}
.menu div.icon>a{
	display: block;
  	max-width: 100px;
  	width: 100%;
  	margin: 15px auto 10px auto;
}
.menu div.icon>a>img{
	width:100%;
}
.menu div.icon span{
	font-size:18px;
	font-family: "微软雅黑";
}
.foot p{
	text-align: center;
	color: #8e8e8e;
	font-size: 16px;
	margin-top:10px;
}
/*activityList.html*/
.index .head{
	background-color: rgba(104, 170, 211, 0);
  	position: absolute;
  	z-index: 99;
}
.head{
	background-color: #eb5c24;
}
.List .list_con{
	padding: 10px;
}
.List .list_con>ul>li{
	background:url(../img/listBg.png) no-repeat;
	background-size: 100% 100%;
	border:none;
	margin-bottom: 15px;
}
.List .list_con>ul>li>a>ul>li{
	margin: 0 0 5px 15px;
	color: #F2794A;
  	font-family: "microsoft yahei";
  	min-width: 315px;
}
.List .list_con>ul>li>a{
	display: block;
  	width: 100%;
  	height: 100%;
}
.List .list_con>ul>li>a>ul>li:first-child{
	font-size:22px;
}
/*activityDeatil.html*/
html,body,div.content{
	height:100%;
	/*min-width: 350px;*/
}
.Detail .head{
	background-color:rgba(255,255,255,0);
}
.Detail .head i{
	color:#565454;
}
div.Detail{
	background-color:#faeae4;
	color:#565454;
	height:850px;
}
div.Detail .banner{
	width:100%;
	height:160px;
	background:url(../img/detaiBg.png) no-repeat center;
	background-size: contain;
}
.Detail .list-group-item{
	background-color:rgba(255,255,255,0);
	border:none;
	padding: 3px 32px
}
.Detail .list-group-item p{
	text-indent: 33px;
}
.Detail .actInfo{
	/*padding-top: 200px;*/
}
.Detail .actInfo>ul>li:first-child{
	font-size:18px;
	text-align: center;
}
.Detail .actInfo>ul>li:first-child span{
	color:#ef8a6c;
	font-size:30px;
	margin: 0 2px;
}
.Detail .actInfo>ul>li:nth-child(2){
	text-align: center;
  	font-size: 22px;
  	color: #ef8a6c;	
  	padding-bottom: 15px;
}
.Detail .list-group-item img{
	width: 80%;
  	display: block;
  	margin: 10px auto;
}
.Detail .btn-guide{
	border-color: #ef8a6c;
  	color: #ef8a6c;
  	padding: 2px 12px;
}
.fr{
	float: right;
}
.Detail .btn-enter{
	font-size: 20px;
  	letter-spacing: 5px;
  	color: #F22020;
  	background:#fff;
  	border-radius: 4px;
}
.Detail .btn-already{
  	color: #Fff;
  	background: #C8C3C3;	
}
.enterInfo .title{
  	text-align: center;
  	color: #EB5C24;
  	margin-top: 15px;
  	font-size: 18px;
  	font-weight: 600;
  	margin-bottom: 30px;
}
.enterInfo table tr td{
	padding:15px;
	white-space: nowrap;
}
.enterInfo table tr td:nth-child(odd){
	width:30%;
	text-align: right;
}
.btn-orange{
	background-color:#eb5c24;
	font-size: 19px;
	letter-spacing: 5px;
	color: #fff;
	margin-top:20px;
}
.secure .inpuInfo{
	padding:0 15px;
}
.secure .inpuInfo .btn-success,
.secure .detailInfo .btn-success{
	font-size: 18px;
}
.secure .inpuInfo textarea{
	/*border:1px solid #ddd;*/
}
.secure .inpuInfo li{
	padding:17px 0;
}
.secure .inpuInfo li:nth-child(2){
	border-top:1px solid #ddd;
	padding-top: 36px;
	margin: 0 -15px;
  	padding-left: 15px;
  	padding-right: 15px;
}
.secure .detailInfo{
	margin-top:46px;
	text-align: center;
	padding:15px;
}
.secure .detailInfo li{
	padding: 10px 0;
}
.secure .detailInfo li.prev{
	color:#bbbbbb;
	margin-bottom: -15px;
}
.secure .detailInfo li.time span{
	color:#eb5c24;
	font-size:40px;
}
.secure .detailInfo .phone2,
.secure .detailInfo .phone1{
	height: 130px;
}
.secure .detailInfo .phone1{
	border-right:1px solid #ddd ;
	background: url(../img/phone1.png) no-repeat center;
	background-size:contain;
}
.secure .detailInfo .phone2{
	background: url(../img/phone.png) no-repeat bottom;
	color:#50a1ed;
	font-size: 20px;
}
.guide .guideList {
	position: relative;
}
.guide .guideList .row{
	padding:10px;
	border-bottom: 1px solid #ddd;
}
.guide div.store{
	height:130px;
}
.guide div.store+div ul{
	margin-left: -15px;
}
.guide .guideList img{
	width: 100%;
	height:100%;
	margin-right:10px;
}
.guide .guideList ul li{
  	padding: 2px 0;
}
.guide .guideList ul li:first-child{
	font-size: 20px;
  	color: #000;
}
.guide .guideList ul li:nth-child(2){
	color:#418DC8;
}
.guide .guideList ul li .btn{
	color:#eb5c24;
	border-color:#eb5c24;
}
.guide .phone{
	position: absolute;
  	right: 15px;
  	top: 25px;
  	width: 40px;
}
/*compIntro.html*/
.intro .head{
	position: absolute;
	top:0px;
	z-index:999;
	background-color:rgba(255,255,255,0);
}
.intro .row div{
	margin-top:15px;
}
.intro .row div img{
	height: 100%;
  	width: 100%;
}
.intro .row div p{
	 white-space: nowrap;
}
.intro .desc{
	padding: 0 15px;
	overflow: hidden;
  	min-height: 140px;
}
 
.intro .desc>p{
   text-align: center;
   color: #eb5c24;
   font-size: 20px;
   line-height: 38px;
   margin-top: 10px;
   font-weight: 600
}
.intro .desc div{
	padding:0px;
}
.intro .desc div span{
	font-size:36px;
	color:#eb5c24;
}
.intro .foot,.number .foot{
	background:#faeae4 url(../img/detaiBg.png) no-repeat right;
	background-size: contain;
	padding: 30px 5px;
  	font-size: 24px;
  	color: #E97959;
  	margin-top:35px;
  	width: 100%;
  	/*position: absolute;
  	bottom: 0px;*/
  	/*min-width:378px;*/
}
/*number.html*/
.number .head{
	background-color:#e97959;
}
.number .banner{
	padding:0px;
}
.number .banner img{
	width:100%;
}
.number .num{
	text-align: center;
	overflow: hidden;
  	min-height: 140px;
}
.number .num h4{
	color:#e97959;
	font-weight: 600;
  	margin: 15px 0;
  	min-width:315px;
}
.number .num div{
	height: 50px;
	padding:0px;
	color:#3098FA;
}
.number .num div img{
	height: 100%;
}
.number .numlist li.list-group-item{
	overflow: hidden;
	padding:0px;
	line-height: 82px;
	border:none;
	border-bottom: 1px solid #ddd;
}
.number .numlist .list-group{
	margin-bottom: 0px;
}
.number .numlist li img{
	height: 60px;
	border-radius: 100px;
	border:1px solid #ddd;
}
.number .numlist li div.name{
	padding-left:30px;
}
.number .numlist li div.num{
	color: #72cfff;
}
.number .numlist li div.call img{
	height:40px;
}
.number .panel{
	margin-bottom: 0px;
	background-color:#E4E4E4;
}
.number .panel i{
	color: #eb5c24;
}
.number .fen i{
	color: #72cfff;
}
.carInfo td div.imgbox{
	width:40px;
	height:40px;
	background: url(../img/infoXb.png) no-repeat;
	display: inline-block;
	background-size: cover;
	margin-left:15px;
	margin-right:10px;
}
.carInfo tr:nth-child(2) td div.imgbox{
	background-position-y:-80px ;
}
.carInfo tr:nth-child(3) td div.imgbox{
	background-position-y:-153px ;
}
.carInfo td input,.carInfo td select{
	height: 75%;
  	vertical-align: top;
  	border:none;
  	outline: medium;
}
.carInfo table>tbody>tr>td{
	line-height: 30px;
	padding:0px;
  	padding-top: 10px;
  	border-bottom: 1px solid #ddd;
}
/*carType.html*/
.carType .modal-body{
	padding:0px;
}
.carType .list-group{
	margin-bottom: 0px;
}
.carType .list-group .list-group-item{
	border-bottom: 1px solid #ddd;
	padding:10px;
	margin-bottom: 0px;
	font-size: 16px;
}
.carType .modal-footer{
	margin-top:0px;
}
/*wait.html*/
.wait{
	text-align: center;
}
.wait img{
	margin-top:30%;
}
.wait .errorInfo{
  	font-size: 18px;
  	margin: 15px auto;
  	color: #878787;	
}
.wait a{
	color: #F9892D;
  	font-size: 18px;
}

